/* 星空の背景のスタイル */
/* 星空背景 */
.stars {
  position: fixed;
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(0deg, #2aa6cc, #280f96, #6e0732);
  overflow: hidden;
  z-index: index 0;
}

/* 星 */
.star {
  position: absolute;
  background-color: #fff;
  border-radius: 50%;
  opacity: 0;
  animation: twinkle 5s infinite;
  z-index:0;
}

@keyframes twinkle {
  0% { opacity: 0; }
  50% { opacity: 1; transform: scale(1.1); }
  100% { opacity: 0; }
}

/* 全体 */
#container {
position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  gap: 20px;
  text-align: center;
  z-index: 10;
}

/* カード枠 */
#cardContainer {
  width: 150px;
  height: 220px;
  margin: 20px auto;
  perspective: 1000px;
}

/* カード本体 */
#card {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 2s ease-in-out;
}

/* 表裏共通 */
.front, .back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border: 2px solid #333;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

/* 表 */
.front {
  background: linear-gradient(180deg, #b61e88,#ff7575,#ffe387);
  font-size: 5rem;
  color: gold;
  text-shadow:
    0 0 5px #943600,
    0 0 10px #fcd600,
    0 0 20px #ff0;

}

/* 裏 */
.back {
  transform: rotateY(180deg);
  background: linear-gradient(180deg, #f2ffd4, #ffacc8);
  font-family: "Times New Roman", serif;
  font-size: 4rem;
  color: #402149;
}

/* シャッフル */
.shuffle {
  animation: shuffleAnim 2s ease-in-out 4;
}

@keyframes shuffleAnim {
  from { transform: rotateY(0deg); }
  to { transform: rotateY(540deg); }
}

/* 入力 */
#nameInput {
  padding: 5px 10px;
  font-size: 1rem;
}

/* ボタン */
#fortuneBtn {
  background-color: #1a116b;
  color: white;
  font-family: "Times New Roman", serif;
  font-size: 1.5rem;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

/* 結果 */
#result {
  font-family: Georgia, serif;
  font-size: 1.5rem;
  color: white;
  margin: 20px auto;
  max-width: 90%;
  word-wrap: break-word;
}

/* タイトル */
#title {
  color: white;
  font-family: "Times New Roman", serif;
}
